@font-face {
    font-family: "Dm Serif Text", serif;
    src: url();
}
@font-face {
    font-family: "Cookie", cursive;
    src: url();
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}
.news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 5px solid black;
    background-color: whitesmoke;
    background-image: url(bob.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    margin-left: 50px;
    margin-right: 200px;
    text-align: justify;
    font-family: "DM Serif Text", serif;
}

.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 250;
  font-style: normal;
}

.wedding{
    font-family: "Cookie", cursive;
    text-align: center;
    background-color: antiquewhite;
    background-image: url(evil\ rose.avif);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 10%;
    background-position-y: 1px;
}

.metal{
    background-color: red;
    text-align: center;
}

.hadess{
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    z-index: 2;
}

.sectionM{
    background-color: black;
    background-repeat: no-repeat;
}

.this{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    z-index: 3;
}

.hipo{
    position:static
    display: block;
    width: 500px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    height: 420px;
    top: 50px;
}